Flask==2.0.1
Werkzeug==2.0.1
Flask-SQLAlchemy==2.5.1
Flask-Migrate==3.1.0
Flask-Script==2.0.6
celery
psycopg2-binary==2.9.9
python-dotenv==0.19.0
SQLAlchemy==1.4.23
alembic==1.7.1
redis==3.5.3
flasgger==0.9.7.1
flower==0.9.7